Ce document contient les outils qu'on utiliser pour réaliser le mini projet : 'Diffusion Models : Denoising Diffusion Probabilistic Models'

1 - Language de programmation : Python 
2 - Frame Work : Pytroch, NumPy, Matplotlib, os, scikit-image
3 - Environnement de développement : GOOGLE cloboratary 
4 - Génératives IA utilisés : Grok - ChatGPT 
5 - Sources : 
	- l'article : Denoising Diffusion Probabilistic Models 
		lien de l'article : https://proceedings.neurips.cc/paper/2020/file/4c5bcfec8584af0d967f1ab10179ca4b-Paper.pdf
	- La platforme ApX : https://apxml.com
